.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 500;
  button {
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    transition: all 0.2s ease;
    background: rgba($color: #000000, $alpha: 0.6);
    cursor: pointer;

    &:hover {
      background: rgba($color: #d01f1f, $alpha: 0.7);
    }
    img {
      transform: rotate(90deg);
      width: 13px;
      height: 13px;
    }
  }
}

@media (max-width: 992px) {
  .scroll-top {
    display: none;
  }
}
